LUMINARY_PROJECT_DIRECTORY=/opt/stacks # Directory where Luminary will look for projects.
LUMINARY_ADDRESS=0.0.0.0:9000 # Address and port that the Luminary Node will listen on.
RUST_LOG=info # Set the log level for the Luminary Node